/* FEATURES */

.features {
    background-color: #171f23;
    padding: 60px 0 70px 0;
}



.title-dark {
    margin-bottom: 40px;
}
.title_el {
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
}
.title_el > p {
    display: none;
}

.title-light-text    {

}

.features__title-line {
    display: block;
    background-color: #404040;
    width: 20%;
    height: 1px;
    margin: 0 auto;
}
.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
}

.features__item > div {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}




.features__item > h4, .features__item > p {
    font-family: "Roboto", sans-serif;
}
.features__item > h4 {
    margin: 30px 0;
}

.features__item > p {
    font-size: calc(16px + 24 *(100vw / 1320));
}



