
/* TEAM */

.sinner1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 130px;
}

.sinner2 {
    width: 60%;
    padding: 120px 65px 60px 65px;
}

.teamslider {
    justify-content: space-between;
}

.sinner1, .sinner2 {
    background-color: #e9dddd;
}

.team__img {
    width: 135px;
    height: 135px;
    background-color: #ef6b50;
    border-radius: 50%;
}



.skills {
    list-style-type:none ;
    padding: 0;
    margin: 0;
}

.skill__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill__text {
    width: 25%;
}

.skill__item > div {
    width: 60%;
    position: relative;
}

.skill__value {
    width: 15%;
}

.skill__progress {
    display: block;
    height: 3px;
    background-color: white;
    width: 100%;
}   

.skill__value {
    width: 15%;
    text-align: center;
}

.skill__progress::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: var(--progress-width);
    background-color: orange;
}

.team__links {
    display: flex;
    gap: 20px;
}

section#team .bx-wrapper {
    position: relative;
}


section#team .bx-pager {
    display: flex;
}


section#team .bx-controls {
    position: absolute;
    bottom: 15%;
    left: 12.20%;
}