/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');

@font-face {
    font-family: "BNT";
    src: url("../assets/fonts/bignoodletitlingrus.ttf");

}

/* RESET STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BNT", sans-serif;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

/* HEADER */

.header {
    width: 100%;
    background-color: white;
    padding: 49.5px 0;
    position: fixed;
    z-index: 9999999;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    color: #746868;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: balance;
    text-align: center;
    font-weight: 700;

    animation: appearFromLeft 1s ease-in-out forwards;
}

.header__logo img {
    height: 60px;
    margin-right: 25px;
}

.header__logo span {
    font-size: 40px;
}

.menu {
    width: 38px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    animation: appearFromRight 1s ease-in-out forwards;
}


.menu__icon {
    display: block;
    width: 38px;
    height: 2px;
    background-color: black;
    transition: all 0.1s linear;
}

.menu__icon::before,
.menu__icon::after {
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: all 0.5s linear;
}

.menu__icon,
.menu__icon::before,
.menu__icon::after {
    border-radius: 2px;
}

.menu__icon::before {
    top: -10px;
}

.menu__icon::after {
    top: 8px;
}

.menu.opened>.menu__icon {
    animation: dissapear 0.25s linear forwards;
}

.menu.opened>.menu__icon::before {
    animation: toBottomAndRotate 0.5s linear forwards;
}

.menu.opened>.menu__icon::after {
    animation: toTopAndRotate 0.5s linear forwards;
}

.menu.closed>.menu__icon {
    animation: appear 0.25s linear forwards;
}

.menu.closed>.menu__icon::before {
    animation: rotateAndToTop 0.5s linear forwards;
}

.menu.closed>.menu__icon::after {
    animation: rotateAndToBottom 0.5s linear forwards;
}

@keyframes appear {
    0% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: black;
    }
}

@keyframes rotateAndToTop {
    0% {
        top: 0;
        transform: rotate(45deg);
    }

    40% {
        top: 0;
        transform: rotate(0deg);
    }

    60% {
        top: 0;
        transform: rotate(0deg);
    }

    100% {
        top: -10px;
        transform: rotate(0deg);
    }
}

@keyframes rotateAndToBottom {
    0% {
        top: -2px;
        transform: rotate(-45deg);
    }

    40% {
        top: -2px;
        transform: rotate(0deg);
    }

    60% {
        top: -2px;
        transform: rotate(0deg);
    }

    100% {
        top: 8px;
        transform: rotate(0deg);
    }
}

@keyframes dissapear {
    0% {
        background-color: black;
    }

    99% {
        background-color: black;
    }

    100% {
        background-color: transparent;
    }

}

@keyframes toBottomAndRotate {
    0% {
        top: -10px;
        transform: rotate(0deg);
    }

    40% {
        top: 0;
        transform: rotate(0deg);
    }

    60% {
        top: 0;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(45deg);
    }
}

@keyframes toTopAndRotate {
    0% {
        top: 8px;
        transform: rotate(0deg);
    }

    40% {
        top: -2px;
        transform: rotate(0deg);
    }

    60% {
        top: -2px;
        transform: rotate(0deg);
    }

    100% {
        top: -2px;
        transform: rotate(-45deg);
    }
}

@keyframes appearFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearFromRight {
    0% {
        transform: translateX(400%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* MAIN - SLIDER */

.main {
    padding-top: 159px;
}

.banner {
    background: url("../assets/bg.jpg") #696969;
    background-blend-mode: multiply;
    display: flex;
    color: #d6d5d5;
    align-items: center;
    min-height: calc(100vh - 159px);
    width: 100%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

.bx-wrapper {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    background: none;
    border-top: 3px solid #a1a1a1;
    border-left: 3px solid #a1a1a1;
}

.bx-wrapper .bx-prev {
    transform: rotate(-45deg);
}

.bx-wrapper .bx-next {
    transform: rotate(135deg);
}

/*   ABOUT    */

#about {
    padding: 94px 0px 120px 0;
}

.about__title {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.title-text {
    text-transform: uppercase;
    font-size: 48px;
    color: #3d3d3d;
    font-weight: bold;
}

.title-line {
    display: block;
    background-color: orange;
    width: 23%;
    height: 3px;
    margin: 20px auto 30px auto;
}


.subtitle-text {
    color: #919191;
    font-size: 14px;
    font-family: "Roboto", serif;
}

.about__item {
    background-color: #ebebeb;
    padding: 15px 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.about__item>div {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__item>h3 {
    color: #707070;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
}

.about__item>p {
    color: #919191;
    font-size: 14px;
}

/* FEATURES */

.features {
    background-color: #171f23;
    padding: 60px 0 70px 0;
}

.title-dark {
    margin-bottom: 45px;
}

.title_el {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}

.title_el>p {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

.title-light-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.title-gray-line {
    display: block;
    background-color: #404040;
    width: 20%;
    height: 1px;
    margin: 0 auto;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.features__item>div {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.features__item>h4,
.features__item>p {
    font-family: "Roboto", sans-serif;
}

.features__item>h4 {
    margin: 30px 0;
    font-size: 18px;
}

.features__item>p {
    font-size: 48px;
}


/* PRICES */

.prices {
    padding: 60px 0 100px 0;
    background-color: #171f23;
}

.prices__item {
    transition: border 0.5s linear;
}

.prices__item:hover {
    border: 1px solid orange;
}

.prices__item * {
    font-family: "Montserrat", serif;
}

.prices__name {
    padding: 40px 20px;
}

.plan__prices > span {
    text-decoration: underline orange;
}

.prices__services {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prices__services > li {
    font-size: 14px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3px;
}

.prices_purchase {
    color: rgb(13, 202, 240);
    font-weight: bold;
    text-transform: uppercase;
}

.prices_purchase:hover {
    background-color: rgb(13, 202, 240);
    color: black;
}

.team__title-text {
    display: flex;
    justify-content: center;
}

/* TEAM */

#team {
    padding: 50px 0 120px 0 ;
}

.teamslider {
    justify-content: space-between;
}

.sinner1, .sinner2 {
    background-color: #e9dddd;
}

.team__img {
    width: 135px;
    height: 135px;
    background-color: #ef6b50;
    border-radius: 50%;
    margin-bottom: 30px;
}

.team__links {
    display: flex;
    gap: 15px;
}

.sinner1 {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 70px 130px;
}

.sinner2 {
    width: 68%;
    padding: 120px 120px 60px 120px;
}

.skills {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__text {
    width: 25%;
}

.skill__item > div {
    width: 60%;
    position: relative;
}

.skill__progress {
    display: block;
    height: 3px;
    background-color: white;
    width: 100%;
}

.skill__progress::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: var(--progress-width);
    background-color: orange;
}

.skill__value {
    width: 15px;
    text-align: center;
}

section#team .bx-wrapper {
    position: relative;
}

section#team .bx-pager {
    display: flex;
}

section#team .bx-controls {
    position: absolute;
    bottom: 15%;
    left: 12.25%;
}