/* FONTS */
@font-face {
    font-family: "BNT";
    src: url("../assets/fonts/bignoodletitling.ttf");
}

/* RESET STYLE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "BNT", sans-serif;
}

html, body, .wrapper {
    width: 100%;
    height: 100%;
}

/* HEADER */

.header {
    width: 100%;
    background-color: white;
    padding: 49.5px 0;
    position: fixed;
    z-index: 99999;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: balance;
    text-align: center;
    font-weight: 700;
}

.header__logo img {
    margin-right: 25px;
    height: 60px;
}

.header__logo span {
    font-size: 40px;
    color: #746868;
}

.menu {
    width: 38px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu.opened .menu__icon {
    background-color: transparent;
}

.menu__icon {
    display: block;
    width: 38px;
    height: 2px;
    background-color: black;
    transition: all 0.1s linear;
}

.menu__icon::before, .menu__icon::after {
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: all 0.1s linear;

}

.menu__icon::before {
    top: -10px;
}

.menu__icon::after {
    top: 8px;
}

.menu.opened > menu.icon {
    animation: dissapear 0.25s linear forwards;
}

@keyframes dissapear {
    0% {
        background-color: black;
    }
    99% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}

.menu.opened > .menu__icon::before {
    animation: toBottomAndRotate 0.5s linear forwards;
}

.menu.opened > .menu__icon::after {
    animation: toTopAndRotate 0.5s linear forwards;
}


@keyframes toBottomAndRotate {
    0% {
        top: -10px;
        transform: rotate(0deg);
    }

    40% {
        top: 0;
        transform: rotate(0deg);
    }

    60% {
        top: 0;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(45deg);
    }
} 

@keyframes toTopAndRotate {
    0% {
        top: 8px;
        transform: rotate(0deg);
    }

    40% {
        top: -2px;
        transform: rotate(0deg);
    }

    60% {
        top: -2px;
        transform: rotate(0deg);
    }

    100% {
        top: -2px;
        transform: rotate(-45deg);
    }
}

/* MAIN - SLIDER */

.main {
    padding-top: 219px;
}

.banner {
    background: url("../assets/bg.jpg") #696969;
    background-blend-mode: multiply;
    display: flex;
    color: #d5d5d5;
    align-items: center;
    min-height: 650px;
    width: 100%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

.bx-wrapper {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    
}

.bx-wrapper .bx-next, .bx-wrapper .bx-prev {
    background: none;
    border-top: 3px solid #a1a1a1;
    border-left: 3px solid #a1a1a1;
    transform: rotate(45deg);
}

.bx-wrapper .bx-next {
    transform: rotate(135deg);
}

.bx-wrapper .bx-prev {
    transform: rotate(-45deg);
}

/* .scroll {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

img {
    width: 18px;
    height: 37px;
} */

/* ABOUT */

#about {
    padding: 94px 0px 120px 0px;
}

.about__title {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.title-text {
    text-transform: uppercase;
    font-size: 48px;
    color: #3d3d3d;
    font-weight: bold;
}

.title-line {
    background-color: orange;
    width: 23%;
    display: block;
    height: 3px;
    margin: 0 auto;
    margin: 20px auto 30px auto;
}

.subtittle-text {
    color: #919191;
    font-size: 14px;
    font-family: "Roboto", serif;
}

.about__item {
    background-color: #ebebeb;
    padding: 15px 30px;
    text-align: center;
}

.about__item > div {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.about__item > h3 {
    color: #707070;
    font-weight: bold;
    font-size: 18;
    margin: 15px 0;
}

.about__item > p {
    color: #919191;
    font-size: 14;
}