/* IMPORTS */
@import "./blocks/_header.css";
@import "./blocks/_about.css";
@import "./blocks/_banner.css";
@import "./blocks/_portfolio.css";
@import "./blocks/_partners.css";
@import "./blocks/_team.css";
@import "./blocks/_features.css";
@import "./blocks/_prices.css";
@import "./blocks/_contacts.css";
@import "./blocks/_office.css";
@import "./blocks/_footer.css";
@import "./blocks/_fileReset.css";
@import "./blocks/_fonts.css";
@import "./blocks/_preloader.css";

.progress-page {
    height: 4px;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
}




























